<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Employees</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <h1>Delivery Employee Details</h1>
                </div>                
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="employees" class="mt-4">
            <h2>Employee Details</h2>
            {% if employee %}
            <table class="table">
                <tbody>
                    <tr>
                        <td>First Name:</td>
                        <td>{{ employee.firstName }}</td>
                    </tr>
                    <tr>
                        <td>Last Name: </td>
                        <td>{{ employee.lastName }}</td>
                    </tr>
                    <tr>
                        <td>Salary: </td>
                        <td>{{ employee.salary }}</td>
                    </tr>
                        <td>NI Number: </td>
                        <td>{{ employee.niNumber }}</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
                Could not find employee.
            {% endif %}

        </section>
    </main>    
</body>
</html>